<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic</title>
</head>
<body>
    <h1>Hello, {{name_tag}}!</h1>
    <h3>Categories:</h3>
    <ul>
        <!-- HTML Commentary (shown in inspector) -->
        {# One line comment #}
        {% comment %}
            This is a multi-line comment.
            We iterate through categories and print them.
            If the category is 'code' we print it bold and uppercase.
        {% endcomment %}
        {% for category in categories %}
            {% if category == 'code' %}
                <li><b>{{ category|upper }}</b></li>
            {% else %}
                <li>{{ category }}</li>
            {% endif %}
        {% endfor %}
        <h5>Total of categories: {{ categories|length }}</h5>
    </ul>
</body>
</html>